/*:hover links styling*/
.navbar a:hover {
	font-family: helvetica;
	color: pink;
	background-color: black;
}

/*:active links styling*/
.navbar a:active {
	color: black;
	background-color: yellow;
	padding-right: 5px;
	padding-left: 5px;

}